<h1>Create a new recipe</h1>
<form action="/recipes" method="post">
  <label>Name: <input type="text" name="name" /></label>
  <label>Ingredients: <input type="text" name="ingredients" /></label>
  <label>Cook time: <input type="text" name="cook_time" /></label>
  <input type="submit" id="submit" value="Create this recipe" />
</form>
