<form action="/recipes" method="POST">
  <p>
    <label id="recipe_name">Recipe Name: </label>
    <input type="text" id="recipe_name" name="name">
  </p>
  <p>
    <label id="recipe_ingredients">Recipe Ingredients: </label><br>
    <input type="text" id="recipe_ingredients" name="ingredients">
  </p>
  <p>
    <label id="cook_time">Cook Time (mins): </label><br>
    <input type="number" id="cook_time" name="cook_time">
  </p>
  <button id="submit">Submit</button>
</form>
