<!-- New action - have the user submit the form to create a new recipe so that it can be created and saved in the database-->

<form method="post" action="/recipes">
  Name<input type="text" name="name">
  Ingredients<input type="text" name="ingredients">
  Cook Time<input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>
