<h1> Add a new recipe </h1>

<form action="/recipes" method="post">
  <label for="r-name">Name:</label>
  <input id="r-name" type="text" name="name">
  <label for="r-ingredients">Ingredients:</label>
  <input id="r-ingredients" type="text" name="ingredients">
  <label for="r-cook-time">Cook Time in Minutes:</label>
  <input id="r-cook-time" type="number" name="cook_time">
  <input type="submit" value="Save">
</form>
